body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.alarmsTable {
  padding: 2em;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
}
.alarmsTable .incident {
  display: table-row;
  border-bottom: 1px solid #ECECEC;
  cursor: pointer;
  position: relative;
  padding: 0.5em 0;
}
.alarmsTable .incident:last-of-type {
  border-bottom: none;
}
.alarmsTable .incident.selected > div:not(.context-menu) {
  background: #d3d3d3;
}
.alarmsTable .incident > div {
  display: table-cell;
  padding: .5em;
  text-align: center;
  vertical-align: middle;
}
.alarmsTable .incident > div.state > span {
  display: inline-block;
  width: 1.3em;
  height: 1.5em;
  border-radius: 5px;
}
.alarmsTable .incident > div.state > span.live {
  background: #e7512f;
}
.alarmsTable .incident > div.state > span.ack {
  background: #ffb328;
}
.alarmsTable .incident > div.state > span.cleared {
  background: #16b807;
}
.alarmsTable .incident > div.ack {
  width: 4em;
}
.alarmsTable .incident > div.ack i {
  font-size: 1.5em;
}
.alarmsTable .incident > div.ack i:not(:last-of-type) {
  margin-right: 1em;
}
.alarmsTable .incident .context-menu {
  position: absolute;
  -webkit-transform: translateX(-85px);
  -webkit-transition: all 0.3s 0.1s ease-in-out;
  -moz-transform: translateX(-85px);
  -moz-transition: all 0.3s 0.1s ease-in-out;
  transform: translateX(-85px);
  transition: all 0.3s 0.1s ease-in-out;
  left: 0;
  background: #00bbe7;
}
.alarmsTable .incident .context-menu i {
  position: relative;
  color: white;
  margin: 0 1em;
  font-size: 1.5em;
}
.alarmsTable .incident .context-menu.active {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
.alarmsTable .incident-logs {
  display: none;
  background: #f8f8f8;
}
.alarmsTable .incident-logs.active {
  display: table-row;
}
.alarmsTable .incident-logs.active > div {
  display: table-cell;
  padding: .5em 0;
}
.bottom-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00bbe7;
  padding: 1em;
  text-align: center;
  -webkit-transform: translateY(100px);
  -webkit-transition: all 0.3s 0.1s ease-in-out;
  -moz-transform: translateY(100px);
  -moz-transition: all 0.3s 0.1s ease-in-out;
  transform: translateY(100px);
}
.bottom-menu.active {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.bottom-menu span {
  display: inline-block;
  padding: 0.5em;
  border: 3px solid white;
  margin: 0 .3em;
  cursor: pointer;
}
.bottom-menu span:hover {
  background: #f5f5f5;
}
.bottom-menu i {
  font-size: 1.5em;
  color: white;
}
